[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
isort = "*"
mypy = "*"
flake8 = "*"
flake8-fastapi = "*"
black = "*"
safety = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
httpx = "*"
asyncpg = "*"
sqlalchemy = "*"
pytest-asyncio = "*"
pytest-cov = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
autoflake = "*"

[dev-packages]
icecream = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
