[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
httpx = "*"
uvicorn = "*"
uvloop = "*"
asyncpg = "*"
sqlalchemy = "*"
alembic = "*"
eventlet = "*"
aioredis = "*"
rich = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[dev-packages]
isort = "*"
mypy = "*"
flake8 = "*"
flake8-fastapi = "*"
black = "*"
safety = "*"
autoflake = "*"
pyupgrade = "*"
icecream = "*"
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true